@media screen and (max-width: 769px) {
     
    .wht_bckg {
    height: 50px;
    position: absolute;
    top: 0px;
    background-color: #fff;
    width: 0;
}
    
    .main {
    font-size: 20px;
    line-height: 30px;
    font-family: "superclarendonbold";
    color: #fff;
    text-align: center;
    font-size: 42px;
    line-height: 51px;
}
        
.intro {
    padding: 0 20px;
}

.h_center {
    font-size: 20px;
    line-height: 26px;
    padding: 0 10px;
}

.half {
    max-width: 100%;
}
    
.flex {
    flex-direction: column;
    width: 100%;
}
    
.container {
    padding-left: 0px;
    padding-right: 0px;
}
    
.lead {
    font-size: 20px!important;
    line-height: 26px!important;
}
    
.f_width {
    width: 100%;
}
    
    .lead {
        margin-top: 10px;
        padding: 0;
    }
    
    
.heading_small {
    height: auto;
}

.text {
    margin: 20px;
}


.heading {
    height: auto;
    padding: 30px 0;
}

.graph_title {
    font-size: 18px!important;
    margin-bottom: 15px!important;
    line-height: 23px!important;
}
    
.title_box {
    font-family: "superclarendonregular";
    font-size: 24px; 
    line-height: 28px;
    color: #fff;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 10px;
}

.text_1 {
    margin: 15px 10px 0 10px;
}

.f_order {
    order: -1;
}

.footer_h {
    padding: 10px 20px;
}

.advices_title {
    font-size: 26px;
}


.graph_title_1 {
    font-size: 18px!important;
    margin-bottom: 0px;
    line-height: 23px!important;
    padding: 0px 0 8px 0;
}

.m_b_10 {
    padding-bottom: 10px;
}

.pie_box {
    width: 133%;
    margin-left: -60px;
}

    
.om_hep {
    background-color: rgba(0, 66, 25, 0.93);
    padding: -50px !important;
    margin: 10px !important;
}

.m_t_10 {
    font-size: 26px;
    background-color: rgba(0, 66, 25, 0.93);
    padding: 8px 20px;
    margin: 10px 0px;
    line-height: 30px !important;
}
}