.middle {
    background-color: #182031;
    color: #ffffff;
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding-top: 0px;
    margin-top: 60px;
}

video {
    width: 100%;
    height: auto;
}

.central {
    max-width: 1160px;
    margin: 0 auto;
}

.App a {
    color: #fff;
}

.App .vijest_title span:hover,
.App .vijest_title:hover,
#short h1:hover {
    opacity: .7;
}

.App h1 {
    color: #35dbf5;
    font-size: 34px;
    line-height: 44px;
    text-transform: none;
}

.App h2 {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    font-family: "superclarendonregular";
}

.App h3 {
    font-family: "superclarendonbold";
    color: #35dbf5;
    font-size: 46px;
    line-height: 56px;
    text-transform: uppercase;
}

.scrolled .App header {
    position: fixed;
    top:-9px;
    max-width: 1180px;
    width: 100%;
    background-color: #182034;
}

.scrolled.up .App header {
    top: 53px;
}

.relative {
    position: relative;
}

.png-maska {
    position: absolute;
    top:0;
    left:0;
    background-image: url(img/maska_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.App header {
    border-bottom: 1px solid darkgray;
}

.App header ul {
    list-style: none;
    text-align: center;
}

.App header ul li {
    display: inline;
    background: transparent;
    color: #aaa;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 30px;
}

.App header ul li a {
    color: #aaa;
    display: inline-block;
    margin-bottom: 10px;
}

.App .redbox {
    color: rgb(170, 29, 51);
    font-size: 22px;
    line-height: 26px;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    padding: 10px;
    margin: 30px 0;
}

.App .cyanbox {
    border: 5px solid #35dbf5;
    padding: 10px;
    font-size: 16px;
    line-height: 16px;
    margin: 5px;
    background-color: none;
}

.App .cyanbox:before {
    content:  " ";
    top: -5px;
    left: -20px;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 25px solid #35dbf5;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.App button.cyanbox {
    background-color: #182034;
    color: #fff;
    width: 300px;
    height: 100px;
    font-size: 36px;
    line-height: 46px;
    margin-top: 20px;
}

.App button.cyanbox:hover {
    background-color: red;
    border: 5px solid #FF3D4E;
    color: #fff;
    width: 300px;
    height: 100px;
    font-size: 36px;
    line-height: 46px;
    margin-top: 20px;
}

.App button.cyanbox:before {
    content:  "";
    top: 0px;
    left: -50px;
    top: 380px;
    border-left: 45px solid #35dbf5;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}

.App button.cyanbox:hover:before {
    content:  "";
    top: 0px;
    left: -50px;
    top: 380px;
    border-left: 45px solid red;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}

.App .red-button {
    font-family: "superclarendonregular";
    background-color: rgb(170, 29, 51);
    font-size: 30px;
    text-transform: uppercase;
    padding: 25px;
    border: 0;
    cursor: context-menu !important;
    outline: none;
}

.App .county .selected {
    color: #35dbf5;
    font-weight: 600;
}

.App #graf1 ul {
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 35px;
}

.App #graf1 ul li {
    margin-bottom: 3px;
}

.App #graf1 ul li.selected {
    border: 5px solid;
    padding: 10px;
    margin-right: 150px;
    margin-left: -14px;

}

.circle_tooltip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 10px;
}

.App .ticker .county {
    margin-top: 60px;
    color: #aaa;
    font-size: 16px;
    line-height: 18px;
    border: 5px solid #35dbf5;
    text-transform: uppercase;
    padding: 10px 35px 10px 10px;
    display: inline-block;
    cursor: pointer;
}

.App .ticker .symptom {
    font-size: 20px;
    line-height: 20px;
    margin-top:  30px;
    text-transform: uppercase;
}

.App .ticker .county:after {
    content: "";
    position: relative;
    width: 0;
    height: 0;
	top: 12px;
    left: 12px;
    border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #35dbf5;
}


.App .ticker .symptom_percent {
    font-size: 64px;
    line-height: 48px;
    margin-top:  9px;
    color: #ffffff;
    font-family: "superclarendonregular";
}

.App .county_modal {
    position: absolute;
    left:20px;
    top:107px;
    display: block;
    width: 403px;
    background-color: #35dbf5;
    border-radius: 0 10px 10px 10px;
    padding: 20px;
    z-index: 102;
    cursor: pointer;
}

.App .glavobolja .color { color: #aa1d33; }
.App .glavobolja .background { background-color: #aa1d33; }
.App .glavobolja .border { border-color: #aa1d33; }

.App .bol-misici .color { color: #2ba0a8; }
.App .bol-misici .background { background-color: #2ba0a8; }
.App .bol-misici .border { border-color: #2ba0a8; }

.App .drhtavica .color { color: #b8930c; }
.App .drhtavica .background { background-color: #b8930c; }
.App .drhtavica .border { border-color: #b8930c; }

.App .umor-slabost .color { color: #4b2c99; }
.App .umor-slabost .background { background-color: #4b2c99; }
.App .umor-slabost .border { border-color: #4b2c99; }

.App .iscrpljenost .color { color: #1a8350; }
.App .iscrpljenost .background { background-color: #1a8350; }
.App .iscrpljenost .border { border-color: #1a8350; }

.App .kasalj .color { color: #b8640c; }
.App .kasalj .background { background-color: #b8640c; }
.App .kasalj .border { border-color: #b8640c; }

.App .kihanje .color { color: #0648b3; }
.App .kihanje .background { background-color: #0648b3; }
.App .kihanje .border { border-color: #0648b3; }

.App .zacepljen-nos .color { color: #942699; }
.App .zacepljen-nos .background { background-color: #942699; }
.App .zacepljen-nos .border { border-color: #942699; }

.App .bolno-grlo .color { color: #76080c; }
.App .bolno-grlo .background { background-color: #76080c; }
.App .bolno-grlo .border { border-color: #76080c; }

.App .osjecam_dobro .color { color: #b8a324; }
.App .osjecam_dobro .background { background-color: #b8a324; }
.App .osjecam_dobro .border { border-color: #b8a324; }

.App .circle {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    float:left;
    margin: 5px 15px;
}

.App .circle.selected {
    background-image: url(../public/img/selected_mark.svg);
    background-repeat: no-repeat;
}


.App .symptoms {
    margin-top: 20px;
}

.App .symptoms li {
    line-height: 45px;
    text-transform: uppercase;
    font-size: 16px;
}

.App .symptoms li:first-child {
    line-height: 45px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 1px solid #444;
    display: inline-block;
    margin-bottom: 10px;
}

.App #anketa {
    position: relative;
}

.App .anketa_thanks {
    padding-top: 50px;
    font-family: "superclarendonregular";
    font-size: 40px;
    text-align: center;
    color: #D70E22;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top: 150px;
    right: 200px;
    z-index: 2;

}.App .anketa_thanks span {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #555;
    line-height: 50px;
}

.App .anketa_thanks:after {
    content: " ";
    position: absolute;
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 25px solid #D70E22;
    top: 130px;
    left: 190px;
}

.App .counties {
    margin-top: 20px;
    font-size: 16px;
    width: 110%;
}
.App .counties li {
    line-height: 30px;
}

.App .karta p {
    width: 100%;
}

.App .karta .gray {
    color: #aaa;
    font-size: 16px;
    line-height: 18px;
}

.App .karta .red {
    color: rgb(170, 29, 51);
    font-family: "superclarendonregular";
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 15px;
}

.App .karta .big {
    font-size: 36px;
    font-weight: bold;
}

.App #graf4 h1 {
    margin-bottom: 20px;
}

.App #graf2 h2 {
    margin-top: 20px;
}

.App #graf4 .col-md-3 p {
    text-transform: uppercase;
}

#izbornik {
    padding-left: 140px;
}

.izbornik_link {
    font-family: Arial;
    font-size: 14px;
    line-height: 14px;
    padding-left: 23px;
    text-decoration: none;
}


.izbornik_link a:link{
    color:#FFFFFF;
    text-decoration: none;
}

.izbornik_link a:visited{
    color:#999;
    text-decoration: none;
}

.izbornik_link a.selected,
.izbornik_link a:hover{
    color:#FF3D4E;
    text-decoration: none;
}

#simptomi {
    font-family: Arial;
    font-size: 14px;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-top: 9px;
    text-decoration: none;
    width:150px;
    border:5px solid #FF3D4E;
    color:#FF3D4E;
}

.opcenito.opcenito_zadnji {
	border-bottom: 5px solid #35dbf5;
}

.opcenito {
    font-family: Arial;
    font-size: 14px;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-top: 9px;
    text-decoration: none;
    width: 200px;
    border-left: 5px solid #35dbf5;
    border-right: 5px solid #35dbf5;
    border-top: 5px solid #35dbf5;
    color:#35dbf5;
}

.opcenito a:link {color:#35dbf5;text-decoration: none;}
.opcenito a:visited {color:#35dbf5;text-decoration: none;}
.opcenito a:hover{color:#FFFFFF;text-decoration: none;}

#short {
    background-color: #fff;
    margin: 0 -500px;
    padding: 22px 500px;
    height: auto;
    padding-bottom: 30px;
}

#short:before {
    content: " ";
    width: 15px;
    height: 80px;
    background-color: #D70E22;
    float: left;
    margin-right: 30px;
    margin-top: 10px;
}

#short h1 {
    color: #000;
    font-size: 26px;
    line-height: 36px;
    font-family: "superclarendonregular";
    text-transform: inherit;
    margin-top: 10px;
}

#short h1 span {
    color: #D70E22;
    text-transform: uppercase;
}

#numbers {
    background-color: #fff;
    margin: 0 -500px;
    padding: 22px 500px;
    height: 130px;
    margin-top: 20px;
}

#numbers:before {
    content: " ";
    width: 15px;
    height: 60px;
    background-color: #D70E22;
    float: left;
    margin-right: 30px;
    margin-top: 10px;
}

#numbers h1 {
    color: #000;
    font-size: 45px;
    line-height: 56px;
    font-family: "superclarendonregular";
    text-transform: inherit;
    margin-top: 10px;
    margin-right: 30px;
    display: inline-block;
}

#numbers h1 span {
    color: #D70E22;
    text-transform: uppercase;
}

#anketa,
#graf1,
#graf2,
#graf3,
#graf4,
#graf5,
#graf6,
#semafor{
    margin-top: 50px;
}

#graf1,
#graf2,
#graf3,
#graf4,
#graf6,
#semafor {
    border-top: 2px solid #242F4D;
}

#graf6 {
    margin-bottom: 30px;
}

#graf3 ul.symps li {
    text-transform: uppercase;
    margin-bottom: 3px;
    cursor: pointer;
}

#graf3 p {
    margin-top: 60px;
    margin-bottom: 30px;
}

.news_heading_1 {
    font-family: "superclarendonregular" !important;
    text-align: center;
    color: #fff !important;
    font-size: 36px !important;
    text-transform: inherit !important;
    margin-bottom: 15px;
}

.vijesti_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.vijest_title {
    font-family: "superclarendonregular";
    text-align: left;
    color: #fff;
    font-size: 28px;
    margin-top: 10px;
    width: 350px;
    line-height: 32px;
}

.App .vijest_title span {
    text-transform: uppercase;
    color: #D70E22 !important;
    font-family: "superclarendonregular" !important;
    }

#pitaj_doktora {
    background-color: #fff;
    margin: 20px -500px;
    padding: 22px 500px;
    height: 150px;
}

.overlay {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 101;
}

.App .flex {
    display: flex;
    flex-wrap: wrap;
}

.App .red_line {
    width: 15px;
    background-color: #D70E22;
    height: 105%;
    margin-right: 20px;
}

.App .flex_column {
    display: flex;
    flex-flow: column;
}

.App .doctor_box h4 {
    color: #D70E22 !important;
    text-transform: inherit !important;
    font-family: "superclarendonregular" !important;
    text-align: left !important;
   /* margin-bottom: 10px;*/
}

.App .doctor_box p {
    color: #000;
    font-size: 13px;
    line-height: 20px;
    width: 320px;
}

.App .doctor_ask {
    width: 180px;
    background-color: #D70E22;
    border-radius: 10px;
    color: #fff;
    font-size: 26px;
    line-height: 32px;
    border: none;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    margin-left: 10px;
}

.App .doctor_one {
    width: 320px;
}

.App .doctor_two {
    width: 320px;
}

.App #pitaj_doktora img {
    width: 144px;
    height: 106px;
/*    margin-left: 10px;*/
}

.App .doctor_question {
    color: #000;
    font-size: 14px;
    line-height: 16px;
    width: 634px;
    height: 112px;
}

.App .doctor_field {
    width: 290px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.App .doctor_txt {
    max-width: 500px;
}

.App .doctor_send {
    background-color: #fff;
    margin: 0 -500px;
    padding: 22px 500px;
    height: 150px;
    position: relative;
    top: -170px;
    margin-bottom: -150px;
}

.App .doctor_send_hvala {
    background-color: #fff;
    margin: 0 -500px;
    padding: 22px 500px;
    height: 150px;
    position: relative;
    top: -170px;
    margin-bottom: -170px;
}

.App .doctor_send_hvala h1 {
    color: #D70E22;
    font-size: 60px;
    margin-top: 30px;
}

.App .doctor_send_rezultati {
    display: none;
    color: #555;
    font-size: 24px;
    padding: 45px 0 0 20px;
    margin-right: 10px;
    margin-left: 30px;
    border-left: 2px solid #D70E22;
}

.App .doctor_send_rezultati:after {
    position: absolute;
    content: " ";
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 25px solid #D70E22;
    margin-left: 15px;
}

.App .doctor_send textarea {
    min-height: 100px;
}

.App .credit_map {
    font-size: 12px !important;
    text-align: right !important;
    text-transform: uppercase !important;
    padding-right: 176px;
}


.App .pliva {
    text-align: center !important;
    font-size: 24px;
    color: #111;
    font-family: arial, sans-serif;
    margin-top: -10px;
    position: relative;
    top: -100px;

}

.App .made_by {
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
    padding-top: 9px;
    padding-bottom: 10px;
    background-color: #182031;
}

.App .native_studio {
    display: inline-block;
    width: 138px;
    height: 20px;
    margin: 0 7px 0 7px;
    padding-top: 4px;
    background-image: url(../public/img/logo_native.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 4px;
}

.App .modal-dialog {
    min-width: 870px;
}

.App .modal-content {
    background-color: #182031 !important;
    border: 5px solid #ffffff;
}

.App .modal-dialog .close {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    text-shadow: none;
    background-color: #ffffff !important;
    width: 30px;
    height: 30px;

}
.App .modal-dialog .close span {
    width: 35px;
    height: 40px;
    float: right;
    font-size: 36px;

}

.App .modal_title {
    font-weight: bold !important;
    color:#ff3d4e !important;
    padding-bottom: 10px !important;
    font-size: 17px !important;
    text-align: left !important;
}

.App .modal_desc,
.App .modal_desc p,
.App .modal_desc strong
{
    color:#FFFFFF !important;
    font-size: 14px !important;
    font-family: Arial !important;
}

.App .modal_desc strong {
    font-weight: bold;
}

.App #vodic h3  {
    font-size: 60px !important;
}

.App #vodic h3 span {
    font-size: 62px !important;
    color: #fff !important;
    text-transform: none !important;
}

.App .ucitavanje {
    background-image: url("../public/img/ucitavanje.gif");
    position: absolute;
    top:150px;
    left:140px;
    background-repeat: no-repeat;
    width:159px;
    height:62px;
}

.App .a_question {
    font-family: arial, sans-serif;
    font-size: 30px;
    padding: 15px;
    margin-right: 5px;
    text-transform: uppercase;
    border: 5px solid #18273B;
    color: #aaa;
    display: inline-block;
    margin: 5px 5px 23px 0;
}

.App .a_question.selected,
.App .a_question:hover {
    border: 5px solid #35dbf5;
}

.App .m_t_60 {
    margin-top: 60px;
}

.App .m_b_15 {
    margin-bottom: 15px;
}

.App #graf4 .county {
    margin-top: 5px;
    color: #aaa;
    font-size: 16px;
    line-height: 18px;
    border: 5px solid #35dbf5;
    text-transform: uppercase;
    padding: 10px 35px 10px 10px;
    display: inline;
    cursor: pointer;
}

.App #graf4 .county:after {
    content: "";
    position: relative;
    width: 0;
    height: 0;
	top: 12px;
    left: 12px;
    border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #35dbf5;
}

.App .a_send {
    font-family: arial, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
    background-color: rgb(170, 29, 51);
    padding: 30px 60px;
    margin-top: 35px;
}

.App .bigger {
    font-size: 72px;
    color: rgb(170, 29, 51);
    font-family: "superclarendonbold";
    line-height: 68px;
    margin-top: -10px;
}

.App .small {
    color: #aaa;
    font-size: 12px;
    line-height: 14px;
}

.App .bosna {
    position: absolute;
    top: 260px;
    right: 200px;
}

.App .notification {
    display: block;
    position: absolute;
    bottom: 0;
    margin-top: 30px;
    font-size: 13px;
    text-align: right;
    z-index: 101;
}

.App .over_modal .county_modal {
    position: absolute;
    left: 20px;
    top: 423px;
    display: block;
    width: 403px;
    background-color: #35dbf5;
    border-radius: 0 10px 10px 10px;
    padding: 20px;
    z-index: 102;
    cursor: pointer;
}

.App .hvala {
    margin-top: 190px;
    font-size: 68px;
}

@media (max-width: 800px) {
    .App header{
        display: none;
    }

    canvas, video, iframe, svg {
        width: 100% !important;
        height: auto !important;
    }

    .central {
        padding: 0 20px;
    }

    .App .pliva {
        top: -50px;
    }
    .App #vodic h3 {
        font-size: 50px !important;
        text-align: center;
        line-height: 56px;
        margin-top: 50px;
    }

    .App .redbox {
        text-align: center;
    }

    .App #vodic h3 span {
        font-size: 50px !important;
        line-height: 56px !important;
    }

    video {
        margin-top: 15px;
    }

    #short {
        background-color: #fff;
        padding: 10px;
        margin: 0;
        height: auto;
    }

    #short h1 {
        border-left: 15px solid #D70E22;
        padding-left: 25px;
        font-size: 20px;
        line-height: 26px;
        height: auto;
    }

    #short:before {
        content: " ";
        width: 15px;
        height: 0;
        background-color: #D70E22;
        float: left;
        margin-right: 30px;
        margin-top: 10px;
    }

    #pitaj_doktora {
        position: relative;
        background-color: #fff;
        margin: 20px 0 0 0;
        padding: 22px 0 0 0;
        height: 100%;
        width: 100%;
/*
        border-left: 20px solid #fff;
        border-right: 50px solid #fff;
*/
        flex-flow: row wrap;
    }

    .App .doctor_one {
        width: 80%;
        display: flex;
        flex-flow: column;
    }

    .App .doctor_two {
        width: 80%;
        margin-top: 20px;
        display: flex;
        flex-flow: column;
    }

    .App .doctor_box p {
        width: 100%;
    }

    #pitaj_doktora .red_line {
        display: none;
    }

    #pitaj_doktora img {
        width: 144px;
        height: 106px;
        margin-top: 10px;
    }

    .doctor_two div h4 {
        border-top: 2px solid #D70E22;
        margin-top: 10px;
        padding-top: 5px;
    }


    .App .doctor_ask {
        width: 80%;
        padding: 10px 0;
        margin: 15px auto;
    }

    .App .red-button {
        width: 100%;
    }

    .App .cyanbox {
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-top: 25px;
    }

    .App .cyanbox:before {
        display: none;
    }

    .App .symptoms {
        display: inline-block;
    }

    #anketa, #graf1, #graf2, #graf3, #graf4, #graf5, #graf6, #semafor {
        text-align: center;
    }

    #anketa, #graf1, #graf2, #graf3, #graf4, #graf5, #graf6, #semafor {
        margin-top: 20px;
}

    .App #graf1 ul li.selected {
        margin-right: 0;
        margin-left: -0;
    }

    .App .ticker .county {
        margin-top: 20px;
    }

    .App .county_modal {
        position: absolute;
        text-align: center;
        margin: 0 auto;
        display: block;
        width: 100%;
        left:0;
        border-radius: 10px 10px 10px 10px;
    }

    .App .county_modal li {
        margin-bottom: 5px;
    }

    #graf3 p {
        margin-top: 60px;
        margin-bottom: 0px;
    }

    .App .symps {
        margin-top: 30px;
    }

    #numbers {
        background-color: #fff;
        margin: 0;
        padding: 5px 10px;
        height: 100%;
        margin-top: 10px;
        margin-bottom: -10px;
    }

    #numbers:before {
        content: none;
    }

    #numbers h1 {
        font-size: 30px;
        padding-left: 25px;
        line-height: 30px;
        border-left: 15px solid #D70E22;
        margin-bottom: 10px;
    }

    #numbers h1 span {
        color: #D70E22;
        text-transform: uppercase;
    }

    .news_heading_1 {
        font-size: 40px !important;
    }

    .App .vijest_title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
    }


    .App .vijest_title span {
        font-size: 20px;
        line-height: 24px;

    }

    .vijesti_box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .vijesti_box img {
        width: 100%;
    }

    .App .credit_map {
        font-size: 12px !important;
        text-align: center !important;
        text-transform: uppercase !important;
        padding-right: 0;
    }

    .App .eu_map_mobile {
        margin-top: 20px;
    }

    .App #graf1 ul li {
        margin-bottom: 13px;
    }

    .App .symptom_percent {
        margin-bottom: 20px;
    }

    .App .symps li {
        padding-bottom: 7px;
    }

    .App .made_by {
        border: 25px solid #182031;
        margin-left: -20px;
        margin-right: -20px;
    }

    .App .counties {
        width: 110%;
        margin-left: -20px;
        margin-right: -10px;
    }

    .App .doctor_send {
        background-color: #fff;
        margin: 0;
        padding: 0;
        height: 100%;
        position: absolute;
        top: 0;
        margin-bottom: 0;
    }

    .App .doctor_question {
        color: #000;
        font-size: 14px;
        line-height: 16px;
        width: 100%;
        height: 112px;
        margin-bottom: 10px;
    }

    .App .doctor_field {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0;
    }

    .App .doctor_txt {
        max-width: 100%;
    }

    .App .doctor_send {
        background-color: #fff;
        margin: 0;
        padding: 10px;
        height: 100%;
        position: relative;
        bottom: 0;
        margin-bottom: 0;
    }

    .App .doctor_send_hvala {
        background-color: #fff;
        margin: 0;
        padding: 0;
        height: 100%;
        position: relative;
        top: 0;
        margin-bottom: 0;
    }

    .App .doctor_send_hvala h1 {
        color: #D70E22;
        text-align: center;
        font-size: 60px;
        margin-top: 0;
    }

    .App .doctor_send_rezultati {
        display: none;
    }

    .App .doctor_send_rezultati:after {
        display: none;
    }

    .App .doctor_send textarea {
        min-height: 100px;
    }

    .App .anketa_thanks {
        width: 100%;
        height: 200px;
        top: 170px;
        right: 0;
    }

    .App .anketa_thanks span {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 20px;
        color: #555;
        line-height: 50px;
    }

    .App .anketa_thanks:after {
        content: " ";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 25px solid #D70E22;
        top: 130px;
        left: 45%;
    }


    #avatar_2d {
        width: 100%;
        max-width:396px;
        height: 607px;
        background-image: url("../public/img/avatar.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        color:#CCCCCC;
        position: relative;
        text-align: left;
    }
    #avatar_2d .crvena {
        width:66px;
        height:66px;
        background-image: url("../public/img/tocka_crvena.png");
        position: absolute;
    }

    #avatar_2d .zelena {
        width:66px;
        height:66px;
        background-image: url("../public/img/tocka_zelena.png");
        position: absolute;
    }

    #avatar_2d #tocka_zelena_11
    {
        left:3.7%;
        top:78px;
    }

    #avatar_2d #tocka_zelena_12
    {
        left:53%;
        top:214px;
        position: absolute;
    }
    #avatar_2d #tocka_zelena_10
    {
        left:11.3%;
        top:190px;
    }

    #avatar_2d #tocka_crvena_8
    {
        left:43%;
        top:65px;
    }

    #avatar_2d #tocka_crvena_2
    {
        left:26.5%;
        top:140px;
    }


    #avatar_2d #tocka_crvena_7
    {
        left:31.8%;
        top:60px;
    }

    #avatar_2d #tocka_crvena_4
    {
        left:13.6%;
        top:14px;
    }

    #avatar_2d #tocka_crvena_1
    {
        left:46.7%;
        top:8px;
    }

    #avatar_2d #tocka_crvena_5
    {
        left:79.3%;
        top:42px;
    }

    #avatar_2d #tocka_crvena_9
    {
        left:43.1%;
        top:128px;
    }

    #avatar_2d #tocka_crvena_3
    {
        left:66.6%;
        top:119px;
    }

    #avatar_2d #tocka_crvena_6
    {
        left:33.3%;
        top:190px;
    }


    #avatar_2d #avatar_box {

        max-width:375px;
        width: 100%;
        height:350px;
        background-image: url("../public/img/box.png");
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 auto;
        top:260px;
        position: absolute;

    }

    #avatar_2d #avatar_naslov {
        font-family: Arial;
        font-size: 14px;
        color: #fd4456;
        position: absolute;
        top:40px;
        left:40px;
        font-weight: bold;
    }
    #avatar_2d #avatar_naslov.blue {
        color: #35dbf5 !important;
    }

    #avatar_2d #avatar_tekst {
        width: 80%;
        max-width: 350px;
        position: absolute;
        font-size: 12px;
        font-family: Arial;
        color: #FFFFFF;
        left:40px;
        top:70px;

    }
    #avatar_2d .modal_desc p {
        font-size: 12px !important;
        line-height: 14px;
    }

    .png-maska {
        position: absolute;
        top:initial;
        bottom:5px;
        left:0;
        background-image: url(img/maska_1.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .App .a_send {
        font-family: arial, sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        background-color: rgb(170, 29, 51);
        padding: 30px 60px;
        margin-top: 35px;
        display: block;
        margin-bottom: 20px;
    }

    .App .notification {
        text-align: center;
        margin-top: 40px;
    }

    .App .bosna h2,
    .App .bosna p:nth-child(2) {
        display: inline;
        vertical-align: middle;
    }

    .App .bosna h2 {
        margin-right: 10px;
    }

    .App .bosna {
        position: inherit;
        top: 0;
        right: 0;
        margin-bottom: 80px;
    }

    .App .small {
        font-size: 16px;
    }

}